/* CSS declarations go here */

@font-face {
  font-family: Banana Yeti; 
  src:
  url("/fonts/BananaYeti-Extrabold Trial.ttf");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.container h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.top-menu {
  background-color: rgb(100,152,254);
}

.nav-wrapper {
  padding-left: 20px;
}

.nav-wrapper ul a {
	display: inherit;
	font-size: 1.2rem;
}

.brand-logo {
  font-family: 'Banana Yeti';
  font-size: 40px;
}

.main-title {
  font-family: Banana Yeti;
  font-size: 5rem;
}

.dressing-shortcut {
	margin-right: 10px;
}

#at-nav-button { 
	background-color: rgb(57,92,164);
	height: 40px;
	line-height: 40px;
	margin: 12px;
}
#at-nav-button:hover { background-color: rgb(100,152,254); }

#search-button { background-color: rgb(57,92,164); }
#search-button:hover { background-color: rgb(100,152,254); }

.row.center h5 {
  color: white;
}

#index-banner {
  background-color: black;
  opacity: 0.9;
}

.main-image-container {
  opacity: 0.4;
}

.parallax-container {
  height: 400px;
}

.info-block {
  margin-bottom: 0;
}

.theme-block img {
  max-height: 400px;
}

footer.page-footer {
}

/*----------------*/
/* dressing style */
/*----------------*/
.dressing-header
.new-cloth-btn,
.dressing-header
.edit-dressing-btn {
  background-color: rgb(57,92,164);
}

.dressing-header
.new-cloth-btn:hover,
.dressing-header
.edit-dressing-btn:hover {
  background-color: rgb(100,152,254);
}

.dressing-header .btn {
  margin-top: 5px;
  width: 100%;
}

/*--------------------*/
/* end dressing style */
/*--------------------*/

/*------------------*/
/* cloth item style */
/*------------------*/

.cloth-item .card .card-content {
  padding-top: 30px;
  height: 180px;
}

.cloth-item .card .card-content .card-title {
  font-size: 1.4rem;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
}

.cloth-item .card-image {
  display: flex;
  justify-content:center;
}

.cloth-item .img-wrapper {
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.cloth-item .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.cloth-item .price {
  bottom: -25px;
  font-size: 34px;
  padding: 0;
  position: absolute;
  text-transform: none;
  text-align: center;
  left: 22%;
  right: 22%;
  width: 56%;
}

.cloth-item .price:hover{
  font-size: 36px;
}

.cloth-item .description {
  padding-top: 10px;
  overflow: hidden;
}

.cloth-item .card-content {
  padding-top: 0;
  height: 150px;
  overflow: hidden;
  background-color: black;
}

.cloth-item .card-action {
  background-color: #000;
}

.cloth-item .card-action a {
  margin-right: 0 !important;
}
/*----------------------*/
/* end cloth item style */
/*----------------------*/

.view-cloth-form .card {
  padding: 1.6rem;
  padding-top: 1.6rem;
  width: 100%;
}

.row.view-cloth-content {
  margin-bottom: 0;
}

.view-cloth-form .card-image {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}

.view-cloth-attributes {
  text-align: left;
}

.add-cloth-form 
.form-group input[type=text],
.add-cloth-form textarea,
/* Forms select label color */
.add-cloth-form
.select-wrapper input.select-dropdown,
/* Forms select color */
.add-cloth-form
.form-group .dropdown-content li > span {
  color: rgb(58,92,164);
}

/* Label underline focus color */
.add-cloth-form 
.form-group input[type=text]:focus {
  border-bottom: 1px solid rgb(58,92,164);
  box-shadow: 0 1px 0 0 rgb(58,92,164);
}

.add-cloth-form fieldset {
  padding: 1.6rem;
  padding-top: 1.3rem;
}

.add-cloth-form label {
  font-size: 1rem;
}

.add-cloth-form .control-label {
  font-size: 1.2rem;
  color: black;
}

.add-cloth-form .switch-size {
  display: inline-block;
}

.add-cloth-form .size-value {
  border: 1px solid black;
  border-radius: 80px;
  display: inline-block;
  font-size: 23px;
  line-height: 26px;
  height: 48px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 48px;
}

.add-cloth-form .size-slider {
  margin-bottom: 60px;
}

.add-cloth-form
.switch label 
input[type=checkbox]:checked + .lever:after {
  background-color: #4CAF50;
}

.add-cloth-form
.switch label 
input[type=checkbox]:checked + .lever {
  background-color: rgb(126, 225, 130);
}

.add-cloth-form .price-wrapper {
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}

.add-cloth-form .price {
  font-size: 34px;
  min-width: 150px;
  padding: 0 1rem;
  text-transform: none;
}

.add-cloth-form .price-slider {
  margin-top: 10px;
}

.add-cloth-form .noUi-connect {
  background-color: #4CAF50;
}

.add-cloth-form .size-control,
.add-cloth-form .price-control {
  margin-top: 15px;
}

.add-cloth-form .form-buttons {
  margin-top: 15px;
  text-align: right;
}

.add-cloth-form .form-buttons .btn {
  margin-top: 5px;
}
/*TODO better media queries*/
/*@media only screen and (min-width: 993px){
  .dressing .cloth-item {
    width: 50%;
  }
}*/