/* CSS declarations go here */

@font-face {
    font-family: Banana Yeti; 
    src:
    url("/fonts/BananaYeti-Extrabold Trial.ttf")
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-wrapper {
	padding-left: 20px;
}

.brand-logo {
	font-family: 'Banana Yeti';
	font-size: 40px;
}

.row.center h5 {
	color: white;
}

.parallax-container {
	height: 400px;
}

.row .col.s12 .card-image {
	/*max-height: 120px;*/
}

.info-block {
	margin-bottom: 0;
}

footer.page-footer {
}

.cloth-item .card-image {
	height: 50%;
}

.cloth-item .img-wrapper {
	height: 180px;
	overflow: hidden;	
}

.cloth-item img {
	/*width: inherit;*/
}

.cloth-item .price {
	position: relative;
	margin-top: 0px;
	font-size: 34px;
	text-transform: none;
	z-index: 1;
}

.cloth-item .card-content {
	padding-top: 0;
	height: 150px;
	overflow: hidden;
}

.cloth-item .card-action {
	background-color: #000;
}
