<template name="Clothes_item">
  <div class="col s12 m4 l3 cloth-item">
    <div class="card grey darken-3">

      <div class="card-image center-align">
        <div class="img-wrapper">
          <img class="activator" src="{{getIllustration(cloth.clothImage)}}">
          <!-- TODO : is active helper -->
        </div>
      </div>

      <div class="card-content center-align">        
        <div class="price green btn-large">
          <span class="white-text thin">9€/j</span>
        </div>
        <span class="card-title white-text truncate">{{cloth.clothName}}</span>
        <p class="white-text thin">{{cloth.clothDescr}}</p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{cloth.clothName}}<i class="material-icons right">close</i></span>
        <p>
          {{cloth.clothDescr}}
          <br><br>
          Disponibilité : demain
          <!-- {{cloth.date}} -->
          <br>
          Prix : 9€ / jour de location
          <!-- {{cloth.price}} -->
          <br>
          Propriétaire : Pikachu (voir son dressing)
          <!-- {{cloth.owner.name}} -->
        </p>
      </div>

      <div class="card-action center-align">
        <a class="white-text center-align" href="/edit/{{cloth._id}}">Consulter l'offre</a>
      </div>
    </div>
  </div>
</template>