<template name="Notification_item">
  <div class="col s12 m12 l12 notification-item">
    <div class="card">
      {{#if isSender notification.sender}}
        <div class="notification-title">
          Vêtement désiré : <a href="/{{notification.targetedItemId}}/view">{{getClothName(notification.targetedItemId)}}</a>
        </div>
        appartenant à <a href="/{{notification.recipient}}/dressingview">{{getSenderUserName(notification.recipient)}}</a><br/>
        Statut : {{notification.status}}
      {{else}}
        <div class="notification-title">
          Vêtement demandé : <a href="/{{notification.targetedItemId}}/view">{{getClothName(notification.targetedItemId)}}</a>
        </div>
        Expéditeur : <a href="/{{notification.sender}}/dressingview">{{getSenderUserName(notification.sender)}}</a><br/>
        Période demandée : {{getDates(notification.requestedDates)}}<br/>
        Prix total : {{getPrice(notification)}} €<br/>
        {{#if statusWaiting notification.status}}
          <div class="form-group form-buttons">
            <div id="deny" class="waves-effect waves-red btn-flat">
              <span class="red-text medium">Refuser</span>
            </div>
            <div id="accept" class="waves-effect waves-green btn-flat">
              <span class="green-text medium">Accepter</span>
            </div>
          </div>
        {{else}}
          Statut : {{notification.status}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>