<template name="recupPassword">
    <form class="passRecForm">
        <div class="passwordrecovery">
            <label class="control-label" for="url">Merci de soumettre votre adresse mail pour récupérer un nouveau mot de passe.</label>
            <div class="controls">
                <input name="email" id="email" type="email" value="" placeholder="Votre Mail" class="form-control"/>
            </div>
        </div>
        <div class="alert-container">
            {{#if errorMessage}}
                <div class="alert">
                    <span><i class="icon-sign"></i>{{errorMessage}}</span>
                </div>
            {{/if}}
        </div><br />
        <input type="submit" value="Envoyer" class="btn btn-primary"/>
    </form>
</template>