<template name="accueil">
    {{#if currentUser}}
        {{>userData}}
    {{else}}
        <div id="accueil">
            <h1>Bienvenue sur Swap My Suit !</h1>

            Swap My Suit est une communauté d'échange et de location de vêtements entre particuliers.
            <br /><br />
            {{> register}}
            {{> login}}
            <a href="{{pathFor 'recupPassword'}}"> Mot de passe oublié ?</a>
            <br /><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices ex sit amet ligula fringilla ullamcorper. Sed et purus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at nunc vel elit faucibus maximus. Mauris tempor bibendum odio, et efficitur ipsum vehicula vitae. Donec sit amet pharetra sapien. Curabitur volutpat sem non ante luctus, sit amet suscipit justo vehicula. Donec nec faucibus purus, et convallis orci. Phasellus ultrices dui non augue tempor, ut mollis lorem congue. Duis condimentum, massa quis pharetra malesuada, turpis nibh pulvinar massa, ac finibus libero nisi at lacus. Praesent rhoncus at velit quis placerat. Mauris nunc leo, molestie sit amet laoreet in, vehicula id massa. Etiam et quam metus. Maecenas metus odio, egestas ut venenatis at, posuere vel metus. Donec non dignissim nisl.</p>
            <p>Suspendisse egestas felis a mi semper, in fermentum ligula interdum. Cras convallis risus sed nunc egestas, quis eleifend augue dapibus. Donec tincidunt enim eu nisi varius pellentesque. Nulla at risus commodo, sodales diam sed, malesuada eros. Phasellus auctor tortor id ornare bibendum. Cras ac ligula vel neque tempus ornare quis sit amet turpis. Donec eu lectus pharetra arcu venenatis accumsan accumsan et est. Maecenas in molestie erat.</p>
        </div>
    {{/if}}
</template>