<!--Created by Marc on 12/06/2016.-->
<template name="updateDressing">
	{{#if currentUser}}
        {{# autoForm collection="Dressing" doc=this id="updateDressingForm" type="update"}}
        <fieldset>
            <legend>{{ getUpdateLegend }}</legend>
            {{> afQuickField name='dressingName'}}
            <button type="submit" class="btn btn-primary">{{ getSubmit }}</button>
            <button type="reset" class="btn btn-default">{{ getReset }}</button>
        </fieldset>
        {{/autoForm}}
    {{else}}
        {{> accueil}}
    {{/if}}
</template>