<template name="userData">
    {{#if userProfileExists}}
	    Bienvenue {{userProfile.firstName}} {{userProfile.lastName}} !<br />
        Sexe : {{userProfile.gender}}<br />
        T&eacute;l&eacute;phone : {{userProfile.phoneNumber}}<br />
        Adresse : {{userProfile.address.street}}, {{userProfile.address.postalCode}}, {{userProfile.address.city}} ({{userProfile.address.country}})<br />
        Date de Naissance : {{userProfile.birthdate}}<br />
        A propos de vous : {{userProfile.bio}}<br />
    {{/if}}
    mail : {{userMail}}<br /><br />
    {{#if userProfileExists}}
        <button type="button" class="btn btn-primary" id="accessDressing">Accéder au dressing</button>
    {{/if}}
    <button type="button" class="btn btn-primary" id="showUpdateForm">Mettre à jour le profil</button>
</template>